.paginate-count {
  display: flex;
  justify-content: flex-end;
  margin: 30px 23px 0 0;
}

.page-count {
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #808080;
  margin: 0;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0 0 0 -15px;
}

.page-item {
  box-sizing: border-box;
  padding: 0px 8px;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #d5d6dc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: #808080;
  text-align: center;
  cursor: pointer;
}

.page-item:not(:last-child) {
  margin-right: 16px;
}

.page-item:active {
  color: #0064eb;
}

.active-page {
  padding: 0px 8px;
  width: 32px;
  height: 32px;
  background-color: #5e96fc;
  border: 1px solid #5e96fc;
  border-radius: 4px;
  color: #ffffff;
}

.active-link {
  color: #ffffff;
}
.previous-item .next-item {
  background: #7b7c88;
}

.disabled a {
  border: 1px solid #eaebed;
  color: #d5d6dc;
  cursor: no-drop;
}
