.card-list {
  width: 100%;
  max-width: 773px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 800px) {
  .card-list {
    gap: 12px;
  }
}
@media (max-width: 400px) {
  .card-list {
    gap: 8px;
  }
}
