.form-block {
  max-width: 315px;
  max-height: 360px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  box-sizing: border-box;
}

.form-head {
  display: flex;
  justify-content: space-between;
}

.form-head-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #232134;
  margin-bottom: 32px;
}

.reset-btn {
  border: none;
  background-color: #fff;
  color: var(--grey-500);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  align-self: flex-start;
}

.reset-btn:hover {
  color: var(--blue-400);
}

.reset-btn:active {
  color: var(--blue-main-500);
}

.reset-btn svg {
  margin-top: 2px;
}

.reset-btn:hover svg line {
  stroke: var(--blue-400);
}
.reset-btn:active svg line {
  stroke: var(--blue-main-500);
}

.form-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #232134;
  margin-bottom: 8px;
}
