.empty {
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 328px;
  align-items: center;
  max-height: 82px;

  text-align: center;
}

.empty-img {
  width: 240px;
  height: 230.27px;
}

@media (max-width: 500px) {
  .empty-img {
    width: 180px;
    height: 190.27px;
  }
}

@media (max-width: 400px) {
  .empty-img {
    width: 150px;
    height: 160.27px;
  }
}

.empty-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #343a40;
}

@media (max-width: 500px) {
  .empty-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 400px) {
  .empty-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}

.empty-btn {
  padding: 10px 24px;
  width: 164px;
  height: 42px;
  background: #deecff;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 155%;
  color: #3b7cd3;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
