.main {
  max-width: 1440px;
  width: 100%;
  background-color: #f7f7f8;
  min-height: 100vh;
  padding: 40px 162px 44px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .main {
    padding: 300px 112px 32px;
  }
}

@media (max-width: 1000px) {
  .main {
    padding: 25px 72px 22px;
  }
}

@media (max-width: 650px) {
  .main {
    padding: 20px 40px 22px;
  }
}

@media (max-width: 400px) {
  .main {
    padding: 20px 15px 22px;
  }
}

.main__content {
  display: flex;
  width: 100%;
  gap: 28px;
}

@media (max-width: 860px) {
  .main__content {
    gap: 14px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .main__content {
    gap: 8px;
  }
}

.main__content-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 773px;
  gap: 16px;
}
