.spinner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

@keyframes ldio-03tjcleqsehl {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-03tjcleqsehl div {
  box-sizing: border-box !important;
}
.ldio-03tjcleqsehl > div {
  position: absolute;
  width: 138px;
  height: 138px;
  top: 31px;
  left: 31px;
  border-radius: 50%;
  border: 10px solid #000;
  border-color: #7d6db5 transparent #6f6db5 transparent;
  animation: ldio-03tjcleqsehl 1s linear infinite;
}
.ldio-03tjcleqsehl > div:nth-child(2) {
  border-color: transparent;
}
.ldio-03tjcleqsehl > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-03tjcleqsehl > div:nth-child(2) div:before,
.ldio-03tjcleqsehl > div:nth-child(2) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -10px;
  left: 54px;
  background: #6d6fb5;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #6d72b5;
}
.ldio-03tjcleqsehl > div:nth-child(2) div:after {
  left: -10px;
  top: 54px;
  box-shadow: 128px 0 0 0 #776db5;
}
.loadingio-spinner-dual-ring-fbc1fubm9n {
  /* margin-left: calc(14%); */
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-03tjcleqsehl {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-03tjcleqsehl div {
  box-sizing: content-box;
}
