.card {
  width: 100%;
  max-width: 773px;
  background: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 12px;
  padding: 24px;
  box-sizing: border-box;
}

.card__head-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #5e96fc;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content__head {
  display: flex;
  justify-content: space-between;
}

.content__info {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

.card__content-location {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.card__head-star {
  cursor: pointer;
}

.info-salary {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
}
.card-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
}
