.card {
  width: 100%;
  max-width: 773px;
  background: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 12px;
  padding: 24px;
  box-sizing: border-box;
  min-height: fit-content;
  height: 100%;
}
@media (max-width: 750px) {
  .card {
    padding: 12px;
  }
}

.blackCard {
  min-height: fit-content;
  height: 100%;
}

.card__head-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--blue-main-500);
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__head-title:hover {
  color: var(--blue-400);
}
.card__head-title:active {
  color: var(--blue-600);
}

.blackTitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  overflow: visible;
  color: var(--black);
  height: 100%;
}
@media (max-width: 880px) {
  .blackTitle {
    font-size: 22px;
    width: 264px;
    height: 100%;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.content__head {
  display: flex;
  justify-content: space-between;
}

.content__info {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

@media (max-width: 750px) {
  .content__info {
    flex-wrap: wrap;
    gap: 8px;
  }
}

.card__content-location {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.blackLocation {
  line-height: 22px;
}

.card__head-star {
  cursor: pointer;
}

.info-salary {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
}

.blackSalary {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #232134;
}

.card-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
}

.star-btn {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  color: transparent;
  cursor: pointer;
}

.star-btn:hover svg path {
  stroke: var(--blue-main-500);
}

.blackWork {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #232134;
}
