.searchbar-form {
  width: 100%;
  max-width: 773px;
}

.searchbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 12px;
  gap: 10px;
  max-width: 773px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 8px;
  box-sizing: border-box;
}

@media (max-width: 420px) {
  .searchbar {
    gap: 5px;
    padding: 0 6px;
  }
}

.input-focus {
  border: 1px solid var(--blue-main-500);
}
.searchbar:hover {
  border: 1px solid var(--blue-main-500);
}

.searchbar-icon {
  width: 12.57px;
  height: 12.5px;
}

.searchbar-input {
  outline: #ffffff;
  border: none;
  width: 100%;
  caret-color: var(--blue-main-500);
}

input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #acadb9;
}

@media (max-width: 420px) {
  input::placeholder {
    font-size: 12px;
    line-height: 18px;
  }
}
