.header {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  padding: 24px 162px;
  background-color: white;
  border-radius: 10px 10px 0 0;
}

@media (max-width: 910px) {
  .header {
    padding: 18px 81px;
  }
}

@media (max-width: 640px) {
  .header {
    padding: 14px 51px;
  }
}
@media (max-width: 490px) {
  .header {
    padding: 12px 18px;
  }
}

.content {
  display: flex;
  align-items: center;
}

@media (max-width: 490px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.content-logo {
  display: block;
  width: 100%;
  max-width: 421px;
}

@media (max-width: 660px) {
  .content-logo {
    max-width: 180px;
  }
}

@media (max-width: 490px) {
  .content-logo {
    width: max-content;
  }
}

.nav {
  width: 100%;
}

.list {
  display: flex;
  max-width: 100%;
  gap: 60px;
  align-items: center;
}

@media (max-width: 640px) {
  .list {
    gap: 20px;
  }
}

@media (max-width: 490px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 16px;
  }
}

.list-item {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.header__active-link {
  font-weight: 500;
  color: var(--blue-main-500);
}

.header-link:hover,
a.header__active-link:hover {
  color: var(--blue-400);
}

.header-link:active,
a.header__active-link:active {
  color: var(--blue-600);
}
