.rightSection {
  pointer-events: none;
  color: #acadb9;
  margin-right: 6px;
}

.input {
  border-radius: 8px;
}
.input:hover {
  border: 1px solid var(--blue-main-500);
}

.input:focus [data-expanded='true'] {
  /* color: var(--blue-main-500);
  transition: all 300ms;
  transform: rotate(180deg); */

  background: red;
}
